<div class="app-container">

  <header>
    <h1>Recipe Sharing Application</h1>
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/add" routerLinkActive="active">Add Recipe</a>
    </nav>
    <ul>
      <li *ngIf="isLoggedIn()">
        <button (click)="logout()">Log Out</button>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a routerLink="/register">Register</a>
      </li>
    </ul>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>